:root {
  --primary-color: #34bddbd6;
  --primary-purple: #d0cee0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-purple);
}

a {
  text-decoration: none;
  color: #0f0f0f79;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 30px;
  background-color: #333;
}

.header .logo a {
  font-size: 24px;
  font-weight: 600;
  color: #00aaff;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fafafa;
  height: fit-content;
  background-color: #333;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(8, 178, 181);
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.nav-links li a:hover {
  color: #4c2c69;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  background: #4697ded3;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #e694aa81;
}

h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 10px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}

button {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(141, 129, 208, 0.3);
}

.contact-left h3 {
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

tr rd:first-child {
  padding-right: 20px;
}

tr td {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .header {
    padding: 20px;
  }

  .nav-links {
    padding: 20px;
  }

  .contact-box {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
    padding: 20px;
  }
}
