body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f6f8;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 30px;
  background-color: #333;
}

.header .logo a {
  font-size: 24px;
  font-weight: 600;
  color: #00aaff;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fafafa;
  height: fit-content;
  background-color: #333;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(172, 174, 239);
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.nav-links li a:hover {
  color: #4c2c69;
}
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .about-section {
    display: flex;
    align-items: center;
  }
  
  .about-image {
    flex: 1;
  }
  
  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .about-content {
    flex: 1;
    padding-left: 20px;
  }
  
  p {
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .header {
      padding: 20px;
    }
  
    .nav-links {
      padding: 20px;
    }
  
    main {
      padding: 10px;
    }
  
    .about-section {
      flex-direction: column;
      text-align: center;
    }
  
    .about-image {
      margin-bottom: 10px;
    }
  
    .about-content {
      padding: 0;
    }
  }